<table class="table" *ngFor="let quadro of quadros">
  <colgroup>
    <col width="5%">
    <col width="19%">
    <col width="19%">
    <col width="19%">
    <col width="19%">
    <col width="19%">
  </colgroup>
  <thead>
    <tr>
      <th>Período</th>
      <th>Segunda</th>
      <th>Terça</th>
      <th>Quarta</th>
      <th>Quinta</th>
      <th>Sexta</th>
      <th>Sábado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let periodo of quadro.quadro">

      <td *ngFor="let dia of periodo; let i = index">
        
        <!-- PERÍODO -->
        <div *ngIf="i === 0">
          
        </div>
        
        <!-- DIAS -->
        <div *ngIf="i > 0">
          <strong>{{dia.codigo}}</strong>
          <clr-signpost (click)="showSugestoes(2, periodo)">
            <clr-signpost-content *clrIfOpen [clrPosition]="'bottom-left'">
              <ul style="text-align: left">
                <li *ngFor="let sug of sugestoes">
                  <strong>{{sug.codigo}}</strong>
                  {{sug.descricao}}
                </li>
              </ul>
            </clr-signpost-content>
          </clr-signpost>
          <br>{{dia.descricao}}
        </div>

      </td>

    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7" style="text-align: right">
        <strong>{{quadro.totalCredito}}</strong> - Créditos
      </td>
    </tr>
  </tfoot>
</table>