<table class="table" *ngFor="let quadro of quadros">
  <thead>
    <tr>
      <th>Período</th>
      <th>Segunda</th>
      <th>Terça</th>
      <th>Quarta</th>
      <th>Quinta</th>
      <th>Sexta</th>
      <th>Sábado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let periodo of quadro.periodos">
      <td>
        <strong>
          {{periodo.periodo}}
        </strong>
        <br>
        {{periodo.horario}}
      </td>
      <td *ngFor="let aula of periodo.aulas; let i = index">
        <div *ngIf="aula !== undfined" [class]="getClass(aula)">
          <strong>
            <span>{{aula.sgCodCred}} | N{{aula.nivel}}</span>
          </strong>
          <br>
          <span>{{aula.nmDisciplina}}</span>
          <br>
          <clr-icon shape="trash" (click)="remover(quadro, aula)"></clr-icon>
        </div>
        <clr-signpost *ngIf="aula === undfined" (click)="sugestao(quadro, i, periodo.periodo)">
          <clr-icon shape="tasks" clrSignpostTrigger></clr-icon>
          <clr-signpost-content [clrPosition]="'bottom-middle'" *clrIfOpen>
            <li *ngFor="let s of sugestoes">{{s}}</li>
          </clr-signpost-content>
        </clr-signpost>
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="7" style="text-align: right">
        <strong>{{quadro.totalCredito}}</strong> - Créditos | <strong>{{quadro.totalDisciplinas}}</strong> - Disciplinas
      </td>
    </tr>
  </tfoot>

</table>