<table class="table" *ngFor="let quadro of quadros">
  <thead>
    <tr>
      <th>Período</th>
      <th>Segunda</th>
      <th>Terça</th>
      <th>Quarta</th>
      <th>Quinta</th>
      <th>Sexta</th>
      <th>Sábado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let periodo of quadro.periodos">
      <td>{{periodo.periodo}}</td>
      <td><strong>{{periodo.segunda.codigo}}</strong><br>{{periodo.segunda.descricao}}</td>
      <td><strong>{{periodo.terca.codigo}}</strong><br>{{periodo.terca.descricao}}</td>
      <td><strong>{{periodo.quarta.codigo}}</strong><br>{{periodo.quarta.descricao}}</td>
      <td><strong>{{periodo.quinta.codigo}}</strong><br>{{periodo.quinta.descricao}}</td>
      <td><strong>{{periodo.sexta.codigo}}</strong><br>{{periodo.sexta.descricao}}</td>
      <td><strong>{{periodo.sabado.codigo}}</strong><br>{{periodo.sabado.descricao}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7" style="text-align: right">
        <strong>{{quadro.totalCredito}}</strong> - Créditos
      </td>
    </tr>
  </tfoot>
</table>