<div class="clr-row">
    <div class="card clr-col-2">
        <div class="card-block" style="display: grid;">
            <span>Disciplinas: {{disciplinas}}</span>
            <span>Cursadas: {{cursadas}}</span>
            <span>Cursado: {{cursado * 100 | number: '1.2-2'}}%</span>
        </div>
    </div>
</div>

<div class="clr-row" style="width: 100%">
    <div *ngFor="let nivel of niveis; let i = index" class="clr-col-2 card" style="margin: 5px;">
        <div class="card-block">
            <h4 class="card-title">Nível {{i+1}}</h4>
        </div>
        <div *ngFor="let disc of nivel.disciplinas" class="list-group">
            <span [ngClass]="{'cursado' : disc.situacao == 'CURSADO', 'pendente':disc.situacao == 'PENDENTE'}">
                - {{disc.disciplina}}
            </span>
        </div>
    </div>
</div>