<div class="clr-row" style="width: 100%">
    <div *ngFor="let obj of mapa | keyvalue" class="clr-col-2 card">
        <div class="card-block">
            <h4 class="card-title">Nível {{obj.key}}</h4>
        </div>
        <div *ngFor="let disc of obj.value" class="list-group">
            <div [class]="disc.clazz">
                <strong>{{disc.sgCodicred}}</strong> - {{disc.nmNome}}
                <clr-icon shape="child-arrow" (click)="requisitos(disc)"></clr-icon>
            </div>
        </div>
    </div>
</div>