<div class="card">
  <div class="card-header">
    <span>Períodos</span>
  </div>
  <div class="card-block altura clr-row">
    <div class="clr-col-4">
      <input type="checkbox" value="manha" (change)="atualizar($event)" />
      <span><strong>Manhã</strong></span> - <span>A, B, C, D</span>
    </div>
    <div class="clr-col-4">
      <input type="checkbox" value="tarde" (change)="atualizar($event)" />
      <span><strong>Tarde</strong></span> - <span>E, E1, F, G, H, I</span>
    </div>
    <div class="clr-col-4">
      <input type="checkbox" value="noite" (change)="atualizar($event)" />
      <span><strong>Noite</strong></span> - <span>J, K, L, M, N, P</span>
    </div>
  </div>
</div>

<table class="table">
  <colgroup>
    <col width="5%">
    <col width="20%">
    <col width="75%">
  </colgroup>
  <thead>
    <tr>
      <th><input type="checkbox" checked data-md-icheck (change)="checkTodasCadeira($event)" /></th>
      <th>Código</th>
      <th>Descrição</th>
      <th>Nível</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cadeira of cadeiras">
      <td style="text-align: center">
        <label class="checkbox-linha">
          <input type="checkbox" [checked]="cadeira.checked" data-md-icheck (change)="checkCadeira($event, cadeira)" />
        </label>
      </td>
      <td>{{cadeira.sgCodCred}}</td>
      <td style="text-align: left">
        {{cadeira.nmDisciplina}}
        <li *ngFor="let turma of cadeira.turmas">
          {{turma.horario}}
        </li>
      </td>
      <td>{{cadeira.nivel}}</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="3" style="text-align: right">
        <strong>{{cadeiras.length}}</strong> - Cadeiras
      </td>
    </tr>
  </tfoot>

</table>