<div class="card">
  <div class="card-block" style="height: 80px;">
    <div *ngFor="let periodo of periodos">
      <label class="checkbox-linha">
        <input type="checkbox" (change)="mudar(periodo)" [checked]="periodo.checked" data-md-icheck />
        <strong>{{periodo.periodo}}</strong>
      </label>
    </div>
  </div>
  <button (click)="atualizar()">Atualizar</button>
</div>

<table class="table">
  <colgroup>
    <col width="25%">
    <col width="70%">
    <col width="5%">
  </colgroup>
  <thead>
    <tr>
      <th>CodCred</th>
      <th>Descrição</th>
      <th>Ignorar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cadeira of cadeiras">
      <td><strong>{{cadeira.codigo}}</strong></td>
      <td style="text-align: left">{{cadeira.descricao}}</td>
      <td style="text-align: center">
        <label class="checkbox-linha">
          <input type="checkbox" data-md-icheck (change)="checkCadeira($event, cadeira)" />
        </label>
      </td>
    </tr>
  </tbody>
</table>