<div class="clr-col-12 card">
  <div class="card-header">
    Header
  </div>
  <div class="card-block">
    <div *ngFor="let periodo of periodos">
      <label class="checkbox-linha">
        <input type="checkbox" data-md-icheck (change)="checkPeriodo($event, periodo)" />
        <strong>{{periodo.periodo}}</strong>
      </label>
    </div>
  </div>
  <div class="card-footer">
    <button (click)="atualizar()" class="btn btn-primary">Atualizar</button>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>CodCred</th>
      <th>Descrição</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cadeira of cadeiras">
      <td><strong>{{cadeira.codigo}}</strong></td>
      <td style="text-align: left">{{cadeira.descricao}}</td>
      <td>
        <label class="checkbox-linha">
          <input type="checkbox" data-md-icheck (change)="checkCadeira($event, cadeira)" />
          Ignorar
        </label>
      </td>
    </tr>
  </tbody>
</table>